.host-page-cont {
    height: fit-content;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    width: 100%;
    margin-left: auto;
    padding: 1rem;
    height: max-content;
    font-family: 'airBnbBook';
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    gap: 1.2rem;

}

.desc-cont {
    font-family: 'airBnbMed';
    font-size: 2.3rem;
    align-self: center;
}

.host-big-img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.host-name,
.sentence {
    font-size: 2rem;
}

.host-apart-details {
    font-family: 'airBnbMed';
    font-size: 1.2rem;
    text-align: center;
}

.dot {
    font-size: 1.3rem;
}

.location-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-details .sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.8rem;
    width: 20rem;
    margin-bottom: 1.3rem;
    border-bottom: 1px solid #c1c1c1;
}

.location-details .sent .val {
    align-self: flex-end;
}