.header-cont {
    height: fit-content;
    background: #fefefe;
    opacity: 0.8;
    width: 100%;
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links-cont {
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: -80px;
    width: 15rem;
}

.logo-cont {
    background: url('../../images/new.png') center center/cover;
    height: 90px;
    width: 110px;
    margin-left: -50px;
}
