.header-cont {
    height: 100px;
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.links-cont {
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
}