.form-cont {
    height: 650px;
    width: 450px;
    border-radius: 30px;
    padding: 10px;
    line-height: 32px;
    position: absolute;
    /* z-index: 100; */
    background: #fff;
    top: center;
    font-family: 'airBnbBook';
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

h1 {
    height: fit-content;
    margin: 10px 0;
    font-family: 'airBnbBlack';
    font-size: 2.5rem;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 20px;
    padding: 5px;
    color: red;
}

.form-label {
    padding: 5px 0;
    font-size: 24px;
    color: #000;
}

.form-input {
    border-bottom: 1px solid #e0e0e0;
    width: 350px;
    height: 40px;
    padding: 5px;
    font-family: 'airBnbMed';
    font-size: 14px;
}

input:focus {
    outline: none;
}

.form-btn {
    border: 1px solid #fff;
    border-radius: 30px ;
    height: 35px;
    width: 320px;
    font-size: 18px;
    padding: 5px;
    background: linear-gradient(to right, #649173, #DBD5A4);
}

.form-login {
    font-size: 16px;
}